@if ( { allTodos: allTodos$ | async}; as vm ) {
  <div class="container">
    <div class="todo-list-form">
      <mat-form-field>
        <mat-label>Todo List Item</mat-label>
        <input matInput placeholder="E.g. Send Email" [formControl]="newTodo">
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="newTodo.invalid" (click)="addNewTodo()">Add Todo</button>
    </div>

    <mat-tab-group>
      <mat-tab label="All">
        <app-edit-todo-list [todos]="vm.allTodos" emptyPlaceholder="No todos" (completeClicked)="changeTodoStatus($event)" (deleteClicked)="removeTodo($event)"/>
      </mat-tab>
      <mat-tab label="In Progress">
        <app-edit-todo-list [todos]="vm.allTodos" emptyPlaceholder="No todos in progress" (completeClicked)="changeTodoStatus($event)" (deleteClicked)="removeTodo($event)"/>
      </mat-tab>
      <mat-tab label="Completed">
        <app-edit-todo-list [todos]="vm.allTodos" emptyPlaceholder="No completed todos" (completeClicked)="changeTodoStatus($event)" (deleteClicked)="removeTodo($event)"/>
      </mat-tab>
    </mat-tab-group>
  </div>
}
